<span class="p-2 text-dark"><%= link_to 'Информация О' , about2_path%></span><br><br>

<span class="p-2 text-dark"><%= link_to 'Информация О' , about3_path%></span><br><br>

<span class="p-2 text-dark"><%= link_to 'Информация О' , about4_path%></span><br><br>

<span class="p-2 text-dark"><%= link_to 'Информация О' , about5_path%></span><br><br>

<span class="p-2 text-dark"><%= link_to 'Информация О' , about6_path%></span><br><br>

<span class="p-2 text-dark"><%= link_to 'Информация О' , about7_path%></span>